/**************
  RESETEO INICIAL
**************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/**************
  BODY
**************/
body {
    background: linear-gradient(to bottom right, #009c53, #00703C, #005A30); /*to bottom right para que sea en diagonal para la derecha*/
    background-repeat: no-repeat;
}

/*****************
  TRANSICIÓN ENTRE
  PAGINAS
*****************/

@view-transition {
  navigation: auto; /*Para meterle una transición al irte a la otra pagina*/
}


/*Animación para la página que sale*/

@keyframes salir {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-100px); }
}

/* Animación para la página que ENTRA */

@keyframes entrar {
  from { opacity: 0; transform: translateX(100px); }
  to { opacity: 1; transform: translateX(0); }
}

/* hacemos referencia a la pagina que dejamos y a la que vamos "old" la que dejamos "new" a la que vamos*/
::view-transition-old(root) {
  animation: salir 0.6s ease-in both;
}


::view-transition-new(root) {
  animation: entrar 0.6s ease-out both;
}

/**************
  SECTION
**************/
a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-shadow:
        1px 1px 2px white,
        0 0 1em rgb(14, 139, 14),
        0 0 0.2em black;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section>img {
    width: 30%;
    animation-name: deslizar;
    animation-duration: 3s;
    margin-bottom: 5%;
}

.section>h1 {
    margin-bottom: 16%;
    animation-duration: 3s;
    animation-name: deslizar;
}


@keyframes deslizar {
    from {
        margin-left: 150%;
        display: none;
    }

    to{
        margin-left: 0%;
        display: block;
    }
}

::-webkit-scrollbar{
    display: none; /*Para quitar la barra de desplazamiento */
}